<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903798399861-t7mo2epltqms5p9pkbg74f08ga7a6cdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903798399861-t7mo2epltqms5p9pkbg74f08ga7a6cdp</string>
	<key>API_KEY</key>
	<string>AIzaSyDPq1B1hctSlY0JNz8bwfRhW6PTexwnA_k</string>
	<key>GCM_SENDER_ID</key>
	<string>903798399861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBluetoothAds</string>
	<key>PROJECT_ID</key>
	<string>my-second-project-c7122</string>
	<key>STORAGE_BUCKET</key>
	<string>my-second-project-c7122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903798399861:ios:e925e9c32ba642a60b693c</string>
</dict>
</plist>